body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
}

.rotating {
	animation: rotateLeftRight 2s infinite alternate ease-in-out;
}

@keyframes rotateLeftRight {
	0% {
		transform: rotate(0deg); /* Rotar 20 grados a la izquierda */
	}
	100% {
		transform: rotate(270deg); /* Rotar 20 grados a la derecha */
	}
}

td.shorten-string {
	max-width: 150px; /* Cell Max Width */
	white-space: nowrap; /* Avoids breaking words */
	overflow: hidden; /* Hides the overflow */
	text-overflow: ellipsis; /* Shows an ellipsis if the text is too long */
}

@keyframes grow-shrink {
	0% {
		transform: scale(1); /* Tamaño inicial */
	}
	50% {
		transform: scale(1.2); /* Crece un 10% */
	}
	100% {
		transform: scale(1); /* Vuelve al tamaño original */
	}
}

.beating {
	animation: grow-shrink 2s infinite; /* Aplica la animación cada 2 segundos de manera infinita */
	transform-origin: center; /* Asegura que el crecimiento ocurra desde el centro del ícono */
}

.text-loading {
	font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
